[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-cors = "*"
flask-jwt-extended = "*"
flask-mail = "*"
werkzeug = "*"
flask-login = "*"
bcrypt = "*"
flask-dance = {extras = ["google"], version = "*"}
pytest = "*"

[dev-packages]

[requires]
python_version = "3.8"
